/* Component styles 
Colors: 
#a8d466 - grass
#e9efc7 - light green
#caff7b - lime
#747f64 - forest
#a2cc64 - dark grass

NEW COLORS:
#7F0402 - dark red (background)
#FF7E44 - peach (table -- 2n)
#FF0905 - bright red (hover)
#7F2A29 - eggplant (buttons, text)
#CC0704 - red (header)
*/

@font-face {
	font-family: 'Blokk';
	src: url('../fonts/blokk/BLOKKRegular.eot');
	src: url('../fonts/blokk/BLOKKRegular.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/blokk/BLOKKRegular.woff') format('woff'),
		 url('../fonts/blokk/BLOKKRegular.svg#BLOKKRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}
.component {
	line-height: 1.5em;
	margin: 0 auto;
	padding: 2em 0 3em;
	width: 90%;
	max-width: 1000px;
	overflow: hidden;
}
.component .filler {
	font-family: "Blokk", Arial, sans-serif;
	color: #7F2A29;
}
table {
    border-collapse: collapse;
    margin-bottom: 3em;
    width: 100%;
    background: #fff;
}
td, th {
    padding: 0.75em 1.5em;
    text-align: left;
}
	td.err {
		background-color: #7F2A29;
		color: #7F2A29;
		font-size: 0.75em;
		text-align: center;
		line-height: 1;
	}
th {
    background-color: #7F2A29;
    font-weight: bold;
    color: #fff;
 // white-space: nowrap;
}
tbody th {
	background-color: #FF7E44;
}
tbody tr:nth-child(2n-1) {
    background-color: #FFFFFF;
    color: #7F2A29;
    transition: all .125s ease-in-out;
}
tbody tr:nth-child(2n) {
	color: #7F2A29;
	background: #FF7E44;
}
tbody tr:hover {
    background-color:#FF0905;
	color: #7F2A29;
}

/* For appearance */
.sticky-wrap {
	overflow-x: auto;
	overflow-y: hidden;
	position: relative;
	margin: 3em 0;
	width: 100%;
}
.sticky-wrap .sticky-thead,
.sticky-wrap .sticky-col,
.sticky-wrap .sticky-intersect {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	transition: all .125s ease-in-out;
	z-index: 50;
	width: auto; /* Prevent table from stretching to full size */
}
	.sticky-wrap .sticky-thead {
		box-shadow: 0 0.25em 0.1em -0.1em rgba(0,0,0,.125);
		z-index: 100;
		width: 100%; /* Force stretch */
	}
	.sticky-wrap .sticky-intersect {
		opacity: 1;
		z-index: 150;

	}
		.sticky-wrap .sticky-intersect th {
			background-color: #CC0704;
			color: #eee;
		}
.sticky-wrap td,
.sticky-wrap th {
	box-sizing: border-box;
}

/* Not needed for sticky header/column functionality */
td.user-name {
	text-transform: capitalize;
}
.sticky-wrap.overflow-y {
	overflow-y: auto;
	max-height: 50vh;
}

